/* footer */
@import '../Variables/variables';
footer {
  padding: 22px 0px 33px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  figure {
    width: 225px;
    height: 98px;
  }
  .icons {
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    font-size: 18px;
    cursor: pointer;
  }
}
